body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.form-register, .form-login {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.main-title{
    padding-top: 20px;
    display: grid;
    place-items: center;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    margin: 10px 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
}

.header {
    padding: 5px;
    position: fixed;
}

.nav-left a{
    float: left;
    padding: 2px 5px;
    margin: 10px 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
}

.nav-right a{
    position: fixed; 
    margin-left: 20px;
    right: 10px;
    padding: 2px 5px;
    margin: 10px 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
}